[submodule "ftables_ffi"]
	path = ftables_ffi
	url = https://github.com/finleyowen/ftables_ffi
[submodule "ftables_lib"]
	path = ftables_lib
	url = https://github.com/finleyowen/ftables_lib
[submodule "ftables_ui"]
	path = ftables_ui
	url = https://github.com/finleyowen/ftables_ui
